// Colors
$orangeLight: #F6F0EE;
$orange: #E4754B;
$black: #131519;


body {
    margin: 0;
    background: $orangeLight;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.mc-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    &__left {
        display: flex;
        align-items: center;
    }
    &__logo {
        display: flex;
        img {
            margin-bottom: 0;
        }
    }
    &__nav {
        margin-left: 2rem;
        nav {
            ul {
                list-style-type: none;
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                font-size: 16px;
                li {
                    margin: 0;
                    + li {
                        margin-left: 1.25rem;
                    }
                    a {
                        text-decoration: none;
                        color: $black;
                    }
                    &.active {
                        a {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        .mc-btn {
            + .mc-btn {
                margin-left: 0.75rem;
            }
        }
    }
}

.mc-btn {
    padding: 0.75rem 1.25rem;
    font-size: 14px;
    color: white;
    background-color: $orange;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s ease;
    &:hover {
        background-color: darken($orange, 7%);
    }
    &-dark {
        background-color: $black;
        &:hover {
            background-color: lighten($black, 7%);
        }
    }
}