// Colors
$orangeLight: #F6F0EE;
$orange: #E4754B;
$black: #131519;


body {
    margin: 0;
    background: $orangeLight;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}